<!-- Sidebar end here-->
         <div id="page-content-wrapper">
            <div class="content-header">
               <h1 id="home">
                  <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                  <i class="fa fa-bars"></i>
                  </a>
                  Dashboard
               </h1>
               <div class="user-area pull-right">
                  <ul class="top-menu">
                     <li><a href=""><%= current_user.email if user_signed_in? %></a></li>
                     <li><a href="">Contact Support</a></li>
                     <% if user_signed_in? %>
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                     <% else %>
                        <li><%= link_to "Log in", new_user_session_path %></li>
                     <% end %>
                  </ul>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="container-fluid">
                     <div class="for-toptext">
                        <h3>Contracts 
                        <%= link_to new_tender_path do %><font class="pull-right fa fa-plus"></font><% end %>
                        </h3>
                     </div>
                     <%= render "/layouts/alerts" %>
                  </div>
               </div>
               <!-- row -->
               <div class="table-responsive" >
                  <table class="table table-hover table-striped table-bordered" >
                     <thead>
                        <tr>
                           <th>Status</th>
                           <th>Job ID</th>
                           <th>Job Name</th>
                           <th>Job Type</th>
                           <th>Details</th>
                           <th>Installer</th>
                           <th>Install Date</th>
                        </tr>
                     </thead>
                     <tbody>
	                    	<% @tenders.each do |tender| %>
	                    		<tr>
	                    		 <td><a href="" class="redo text-none"><span class="fa fa-circle redo-circle"></span>&nbsp; Live</a></td>
	                         <td><%= tender.id %></td>
	                         <td><%= tender.title %></td>
	                         <td><%= tender.category.title %></td>
	                         <td><%= tender.description %></td>
	                         <td><%= tender.user.name %></td>
	                         <td><%= tender.install_date %></td>
	                        </tr>
	                    	<% end %>
                        
                        
                     </tbody>
                  </table>
               </div>

               
            </div>
         </div>