<!DOCTYPE html>
<html>
  <head>
    <title>TenderSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <div class="logo">
           <a href="#"> <%= image_tag "logo.png",:height=>"60px" %></a>
        </div>
        <nav id="spy">
           <ul class="sidebar-nav nav">
              <li class="sidebar-brand">
                 <a href="index.html">  <i class="fa fa-tachometer insider"></i>
                 Dashboard</a>
              </li>
              <li>
                 <%= link_to live_path do %>
                 <i class="fa fa-user insider"></i> Live Tenders
                 <% end %>
              </li>
              <%= if user_signed_in? %>
                <li>
                   <%= link_to edit_user_registration_path do %>
                   <i class="fa fa-user insider"></i> My Account
                   <% end %>
                </li>
              <% end %>
           </ul>
        </nav>
        <!-- Calender Starts Here-->
        <div class="container">
           <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <!--  <div id="my-calendar"></div>-->
              </div>
              <!--(./col-lg-12 col-md-12 col-sm-12 col-xs-12"BELOW ROW:)-->
           </div>
           <!--(./row)-->
        </div>
        <!--(./COntainer")-->
        <!-- Calender Ends Here-->
      </div>

      <%= yield %>
    </div>
  	
    

    
  </body>
</html>
